
#u79464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:46px;
}
#u79464 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:47px;
  width:239px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:46px;
}
#u79465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:189px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:185px;
  word-wrap:break-word;
}
#u79466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:46px;
}
#u79466 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:93px;
  width:242px;
  height:46px;
}
#u79466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:46px;
}
#u79467 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:93px;
  width:176px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u79468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:46px;
}
#u79468 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:93px;
  width:239px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
}
#u79469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:189px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u79470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:49px;
}
#u79470 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:139px;
  width:242px;
  height:49px;
}
#u79470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u79471 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:139px;
  width:176px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:172px;
  word-wrap:break-word;
}
#u79472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:49px;
}
#u79472 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:139px;
  width:239px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
}
#u79473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:189px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u79474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:49px;
}
#u79474 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:188px;
  width:242px;
  height:49px;
}
#u79474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u79475 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:188px;
  width:176px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:172px;
  word-wrap:break-word;
}
#u79476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:49px;
}
#u79476 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:188px;
  width:239px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:45px;
}
#u79477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:189px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:185px;
  word-wrap:break-word;
}
#u79478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:45px;
}
#u79478 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:237px;
  width:242px;
  height:45px;
}
#u79478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u79479 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:237px;
  width:176px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:172px;
  word-wrap:break-word;
}
#u79480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:45px;
}
#u79480 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:237px;
  width:239px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:48px;
}
#u79481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:189px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:185px;
  word-wrap:break-word;
}
#u79482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:48px;
}
#u79482 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:282px;
  width:242px;
  height:48px;
}
#u79482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:48px;
}
#u79483 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:282px;
  width:176px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u79484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
}
#u79484 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:282px;
  width:239px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u79485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:189px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:185px;
  word-wrap:break-word;
}
#u79486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:47px;
}
#u79486 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:330px;
  width:242px;
  height:47px;
}
#u79486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:47px;
}
#u79487 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:330px;
  width:176px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u79488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u79488 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:330px;
  width:239px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:52px;
}
#u79489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:377px;
  width:189px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u79490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:52px;
}
#u79490 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:377px;
  width:242px;
  height:52px;
}
#u79490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:52px;
}
#u79491 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:377px;
  width:176px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  word-wrap:break-word;
}
#u79492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:52px;
}
#u79492 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:377px;
  width:239px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:52px;
}
#u79493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:429px;
  width:189px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u79494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:52px;
}
#u79494 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:429px;
  width:242px;
  height:52px;
}
#u79494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:52px;
}
#u79495 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:429px;
  width:176px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  word-wrap:break-word;
}
#u79496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:52px;
}
#u79496 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:429px;
  width:239px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79497 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:113px;
  width:157px;
  height:27px;
}
#u79497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79497_input:disabled {
  color:grayText;
}
#u79498 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:113px;
  width:125px;
  height:27px;
}
#u79498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79498_input:disabled {
  color:grayText;
}
#u79499 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:204px;
  width:132px;
  height:29px;
}
#u79499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79499_input:disabled {
  color:grayText;
}
#u79500 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:258px;
  width:132px;
  height:25px;
}
#u79500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79500_input:disabled {
  color:grayText;
}
#u79501 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:303px;
  width:157px;
  height:25px;
}
#u79501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79501_input:disabled {
  color:grayText;
}
#u79502 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:301px;
  width:132px;
  height:29px;
}
#u79502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79502_input:disabled {
  color:grayText;
}
#u79503 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:347px;
  width:157px;
  height:32px;
}
#u79503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79503_input:disabled {
  color:grayText;
}
#u79504 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:157px;
  width:132px;
  height:26px;
}
#u79504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79505 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:157px;
  width:157px;
  height:26px;
}
#u79505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79505_input:disabled {
  color:grayText;
}
#u79506 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:204px;
  width:157px;
  height:29px;
}
#u79506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79507 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:256px;
  width:157px;
  height:29px;
}
#u79507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79508 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:347px;
  width:132px;
  height:29px;
}
#u79508_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79509 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:398px;
  width:157px;
  height:29px;
}
#u79509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79510 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:402px;
  width:138px;
  height:22px;
}
#u79510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79510_input:disabled {
  color:grayText;
}
#u79511 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:443px;
  width:157px;
  height:28px;
}
#u79511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79511_input:disabled {
  color:grayText;
}
#u79512 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:443px;
  width:138px;
  height:28px;
}
#u79512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79512_input:disabled {
  color:grayText;
}
#u79513 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:488px;
  width:157px;
  height:29px;
}
#u79513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79513_input:disabled {
  color:grayText;
}
#u79514 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:488px;
  width:138px;
  height:29px;
}
#u79514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79514_input:disabled {
  color:grayText;
}
#u79515 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:541px;
  width:157px;
  height:26px;
}
#u79515_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79515_input:disabled {
  color:grayText;
}
#u79516 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:541px;
  width:138px;
  height:26px;
}
#u79516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79516_input:disabled {
  color:grayText;
}
#u79517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79517 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:40px;
  width:97px;
  height:34px;
}
#u79517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u79518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79518 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:40px;
  width:96px;
  height:34px;
}
#u79518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u79519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79519 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:40px;
  width:105px;
  height:34px;
}
#u79519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u79520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(253, 240, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u79520 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:61px;
  width:64px;
  height:21px;
  font-size:12px;
  color:#FF9900;
}
#u79520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u79520_ann {
  border-width:0px;
  position:absolute;
  left:441px;
  top:57px;
  width:1px;
  height:1px;
}
#u79521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(253, 240, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u79521 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:61px;
  width:64px;
  height:21px;
  font-size:12px;
  color:#FF9900;
}
#u79521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u79521_ann {
  border-width:0px;
  position:absolute;
  left:525px;
  top:57px;
  width:1px;
  height:1px;
}
